@charset "UTF-8";

@media screen and (max-width: 550px){
    header menu{
        flex-direction: column;
        height: 320px;
        justify-content: center;
        padding: 0px 0px;
    }

    header ul{
        flex-direction: column;
        text-align: center;
        width: 90%;
        justify-content: center;
        flex-grow: 1;
        padding: 0px 0px;
    }
}