@charset "UTF-8";

:root{
    --cor001: #2B3240;
    --cor002: #7890BF; 
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor001);
    color: white;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

menu > h1{
    align-self: flex-start;
}

menu > a {
    color: var(--cor001);
    text-decoration: none;
    flex: none;
    height: 30px;
    width: 60px;
    background-color: white;
    border-radius: 5px;
}