@charset "UTF-8";

:root{
    --cor001: #2B3240;
    --cor002: #7890BF; 
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: #7890BF;
}

header menu{
    background-color: #2B3240;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 0px 10px var(--cor001);
}

h1{
    color: white;
    flex-shrink: 0;
}

header ul{
    display: flex;
    gap: 10px;
    list-style: none;
    padding-right: 30px;
}

header li{
    background-color: white;
    border-radius: 3px;
    white-space: nowrap;
    padding: 8px;
    transition: transform 0.2s ease-in-out;
}

header a {
    color: black;
    text-decoration: none;
}

header li:hover, a:hover{
    background-color: #7890BF;
    color: white;
    border-radius: 3px;
    transform: scale(1.05);
}

section{
    width: 80%;
    height: 80%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--cor001);
}

section p{
    margin-top: 15px;
    text-align: justify;
    text-indent: 20px;
}

